:root {
    --shadow-color: rgba(0, 0, 0, 0.15);
    --clr-neutral-500: #1c232b;
    --clr-neutral-400: #28323E;
    --clr-neutral-300: #384656;
    --clr-neutral-200: #51657B;
    --clr-neutral-100: #E6EAEF;
}


/* Universal Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    font-family: system-ui, sans-serif;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}


/* Color Classes */

.bg-neutral-500 {
    background-color: var(--clr-neutral-500)!important;
}

.bg-neutral-400 {
    background-color: var(--clr-neutral-400)!important;
}

.bg-neutral-300 {
    background-color: var(--clr-neutral-300)!important;
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200)!important;
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100)!important;
}


/* Text Color Classes */

.text-neutral-500 {
    color: var(--clr-neutral-500) !important;
}

.text-neutral-400 {
    color: var(--clr-neutral-400)!important;
}

.text-neutral-300 {
    color: var(--clr-neutral-300)!important;
}

.text-neutral-200 {
    color: var(--clr-neutral-200)!important;
}

.text-neutral-100 {
    color: var(--clr-neutral-100)!important;
}


/* Typography Classes */

.logo {
    font-size: 1.5rem;
}

.heading-primary {
    font-size: 2rem!important;
    font-weight: 700;
}

.heading-secondary {
    font-size: 1.5rem!important;
    line-height: 1.1;
    font-weight: 700;
}

.heading-tertiary {
    font-size: 1rem!important;
    line-height: 1.1;
}

.short-para {
    font-size: 16px;
    margin: 40px 0 15px 12px;
    color: var(--clr-neutral-200);
}

.nav-link {
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
    color: var(--clr-neutral-100);
    padding: 10px 0px 10px 10px;
    margin: 0px 10px 0px 0px;
    border-radius: 2px;
}

.copy_para {
    font-size: 15px;
    text-align: center;
    color: var(--clr-neutral-100);
    margin: 10px 14px 10px 0px;
}

.para {
    font-size: 15px;
    font-size: 700;
}


/* Layout Classes */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: grid;
    block-size: 100vh;
    grid-template-columns: 280px 1fr;
    container-type: inline-size;
}


/* Adjust grid when nav is hidden */

.wrapper.nav-hidden {
    grid-template-columns: 1fr;
}

@media (max-width: 1160px) {
    .wrapper {
        grid-template-columns: 208px 1fr;
    }
}

nav {
    position: relative;
    @container (max-inline-size: 960px) {
        block-size: 4rem;
    }
}

.nav_wrapper {
    padding: 25px 0;
}

.nav_wrapper .logo {
    gap: 8px;
    color: var(--clr-neutral-100);
}

.nav_wrapper .logo i {
    font-size: 28px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_bar .nav_item {
    padding: 0px;
}

.nav_wrapper .nav_item li {
    margin: 10px 0px;
}

.nav_wrapper .nav_item li i {
    font-size: 25px;
}

.nav_bar:nth-child(2) {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
}

.nav-link:is(:active, :hover, :focus) {
    background-color: var(--clr-neutral-200);
    transition: 0.8s all ease;
}

.nav_bar:nth-child(2) .nav_item {
    border-bottom: 1px solid var(--clr-neutral-200);
}

.top-navbar .dashboard {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Toggle Button Styles */

.nav-toggle-btn {
    background-color: var(--clr-neutral-300);
    border: none;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10px;
    display: none;
}

.nav-toggle-btn i {
    font-size: 15px;
}

.nav-toggle-btn:hover {
    background-color: var(--clr-neutral-200);
}


/* Hidden Class */

.hidden {
    width: 0;
    visibility: hidden;
}


/* Media Queries */

@media (max-width: 1080px) {
    nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 280px;
        height: 100%;
        background-color: #f4f4f4;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 760px) {
    .search-bar {
        display: none;
    }
}

main {
    background: var(--clr-neutral-100);
}

.header {
    padding: 20px 20px;
}

.header .top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .search-input {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

.submit-btn {
    background: none;
    border: none;
    outline: none;
}

.submit-btn i {
    font-size: 20px;
    margin-left: -3.5rem;
    color: var(--clr-neutral-300);
}

.submit-btn:hover {
    cursor: pointer;
}

.top-header-icons {
    gap: 40px;
}

.top-header-icons i {
    font-size: 22px;
    cursor: pointer;
}

.top-header-icons .profile {
    gap: 10px;
}

i.user {
    font-size: 16px;
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-200);
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mar-top {
    margin: 5rem 0 0;
}

.upper-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.Leaderboard-profile {
    position: relative;
}

.Leaderboard-profile .user {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Leaderboard-profile .user:nth-child(1) {
    right: 0;
}

.Leaderboard-profile .user:nth-child(2) {
    right: 20px;
}

.Leaderboard-profile .user:nth-child(3) {
    right: 40px;
}

.table-container {
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--clr-neutral-300);
    border-bottom: 2px solid var(--clr-neutral-200);
}

td {
    border-bottom: 1px solid var(--clr-neutral-100);
    background-color: var(--clr-neutral-200);
}

.profile-icon i {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-300);
}


.content-section {
    margin-top: 20px;
    padding: 20px;
   
}


.content-section h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}


label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    display: block;
}

textarea, input[type="text"], select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#create_test button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#create_test button:hover {
    background-color: #0056b3;
}

#create_test #multiple_choice_fields, #explanation_fields, #fill_in_blank_fields {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.question-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#testContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
}

.test-sec{
    margin-top: 7rem;
}

.wrapper {
    display: grid;
   block-size: 100vh; 
    grid-template-columns: 280px 1fr;
    container-type: inline-size;
}

nav {
    height: 100vh; 
    position: sticky;
    top: 0;
    overflow-y: auto; 
}

main {
    overflow-y: auto; 
}

@media (max-width: 768px) {
    .content-section {
        padding: 15px;
    }
    
    button {
        width: 100%;
        margin-top: 10px;
    }
}

/* button {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-500);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-500);
}

.question-item {
    background-color: var(--clr-neutral-500);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    color: var(--clr-neutral-100);
    box-shadow: 0 2px 4px var(--shadow-color);
}

.quiz_container {
    margin: 10rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-flow: dense;
    grid-gap: 1rem;
    @container (max-inline-size: 960px) {
        block-size: 100vh;
        grid-template-columns: repeat(4, 200px);
    }
    @container (max-inline-size: 680px) {
        display: block;
    }
} */

.test-container {
        max-height: 400px;
        max-width: 100%;
        overflow-y: scroll;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .test-block {
        margin-bottom: 15px;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
    }

.content-section {
    display: none;
}

#dashboard {
    display: block;
}


.login-container, .signup-container {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-100);
    font-family: system-ui, sans-serif;
    line-height: 1.5;
}
.signup-container h1, .login-container h1, .logout-container h1 {
    margin-bottom: 3rem;
}

.form-container {
    background-color: var(--clr-neutral-400);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

#logout .form-container{
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-100);
    margin: 5rem auto;
}
.form-container input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--clr-neutral-300);
    border-radius: 10px;
    background-color: var(--clr-neutral-100);
    outline: none;
}
.form-container .btn {
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 2rem;
}
.form-container .btn:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-300);
    transition: 0.8 all ease-in;
}
.form-container p {
    margin-top: 1rem;
    margin-top: 2rem;
}
.form-container a {
    color: var(--clr-neutral-200);
    text-decoration: underline;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-neutral-300);
    border-radius: 5px;
    padding: 0.6em 1.4em;
    background-color: transparent;
    color: var(--clr-neutral-100);
    font-weight: var(--font-weight-6);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.btn:is(:hover, :focus-visible) {
    background-color: var(--clr-neutral-400);
}

.button {
    position: relative;
    margin: 0;
    padding: 0.6em 1.4em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: var(--clr-neutral-400);
    border-radius:5px;
    color: var(--clr-neutral-100);
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    letter-spacing: 0.05em;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.button:hover {
    animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(7deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-7deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
    transform: translate(50%, 0) scale(1.1);
}


/*------------------------------------*\
  #QUIZ
\*------------------------------------*/

.quiz {
    display: grid;
    gap: 30px;
    width: min(100% - 1rem, 40rem);
    margin-block: 2rem;
    padding: 2rem;
    border: 1px solid var(--clr-neutral-300);
    border-radius: 8px;
}

#quiz-container {
    display: grid;
    gap: 1rem;
}

.quiz__answers {
    display: grid;
    gap: 0.5rem;
}

.quiz__answer {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--clr-neutral-400);
    padding-inline: 0.5em;
    border-radius:5px;
    border: 1px solid var(--clr-neutral-300);
    overflow: hidden;
}

.quiz__answer:is(:hover, :focus-within) {
    background-color: var(--clr-neutral-300);
}

.quiz__answer>label {
    padding: 0.5em 1em;
}

.quiz__info {
    display: grid;
    gap: 30px;
    align-items: center;
    justify-items: center;
}

.quiz-body{
        display: grid;
        place-items: center;
        min-height: 100vh;
        background-color: var(--clr-neutral-500);
        color: var(--clr-neutral-100);
        font-family: system-ui, sans-serif;
        line-height: 1.5;
    
}

@media (min-width: 30em) {
    .quiz__info {
        justify-items: start;
        grid-template-columns: 1fr auto;
    }
}

.quiz__time {
    font-style: oblique;
}

.hide {
    display: none;
}


/* Submenu styles */
.sub-menu {
    margin-top: 10px;
    padding-left: 25px;
    list-style-type: none;
}

.sub-menu li a {
    color: var(--clr-neutral-100);
    font-size: 14px;
    padding: 8px 0;
    display: block;
}

.sub-menu.hidden {
    display: none;
}


@media (max-width: 550px) {
    .table-container {
        overflow-x: auto;
    }
    th,
    td {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .heading-primary {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .top-header-icons>i {
        display: none;
    }
}